@model PhiDeltZips.Models.Player

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2010Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2010Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2010Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2010Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2010Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2010Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2010Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2010Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2010Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2010Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2010Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2010Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2011Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2011Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2011Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2011Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2011Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2011Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2011Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2011Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2011Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2011Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2011Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2011Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2012Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2012Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2012Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2012Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2012Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2012Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2012Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2012Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2012Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2012Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2012Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2012Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2013Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2013Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2013Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2013Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2013Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2013Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2013Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2013Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2013Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2013Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2013Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2013Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2014Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2014Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2014Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2014Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2014Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2014Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2014Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2014Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2014Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2014Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2014Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2014Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2015Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2015Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2015Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2015Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2015Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2015Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2015Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2015Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2015Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2015Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2015Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2015Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2016Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2016Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2016Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2016Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2016Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2016Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2016Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2016Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2016Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2016Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2016Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2016Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2017Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2017Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2017Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2017Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2017Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2017Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2017Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2017Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2017Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2017Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2017Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2017Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2018Points)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2018Points)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2018Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2018Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2018Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2018Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2018Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2018Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2018Trades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2018Trades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Y2018Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Y2018Finish)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
